*ipynb_checkpoints*
environment.pinned.yml
/.venv/
/.env
__pycache__/
*.pyc

# Keep the folders, ignore their contents
data/raw/*
data/processed/*

# But keep placeholder files so the folders exist in Git
!data/raw/.gitkeep
!data/processed/.gitkeep